.custom-menu {
    width: 250px;
}

.p-menuitem-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: #444;
}

.p-menuitem-icon {
    margin-right: 0.5rem;
}

.p-menuitem-link:hover {
    background-color: #f2f2f2;
}
