.form{
    margin-left: 250px;
    size-adjust: unset;
}
h1{
    margin-left: 250px;
}
input {
    background-color: #f7f0f0;
    width: 200px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    border: 2px solid #FDB7B3;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
  }
.updateInput {
    width: 100px;
}
label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.card {
    background-color: #f7f0f0;
    width: auto;
    height: auto;
    /* padding: 30px; */
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    border: 2px solid #FDB7B3;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

.input-grid {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .input-grid .p-field {
    flex: 1 0 calc(25% - 1rem);
  }
  